/*Página entera*/
   
body {
  min-height: 100vh;          /*ocupa toda la pantalla*/
  background: #0d1b2a;        /*azul oscuro de fondo*/
  display: flex;              /*activa flexbox*/
  align-items: center;        /*centra verticalmente*/
  justify-content: center;    /*centra horizontalmente*/
  font-family: sans-serif;      /*tipo de fuente de la letra*/
}

/*Tarjeta central*/

.card {
  background: #162032;        /*un poco más claro que el fondo*/
  border: 1px solid #2a3f5a; /*borde azul suave*/
  border-radius: 12px;        /*esquinas redondeadas*/
  padding: 2rem;              /*espacio interior*/
  width: 100%;                    /*anchura*/
  max-width: 420px;           /*no se hace demasiado ancha*/
}

/*Textos*/
h1 {
  color: #ffffff;             /*blanco azulado*/
  font-weight: 500;
  margin-bottom: 0.5rem;
}

p {
  color: #6b90b8;             /*azul grisáceo, para texto menos importante*/
  font-size: 13px;
  margin-bottom: 1.5rem;
}

label {
  display: block;             /*ocupa su propia línea*/
  color: #8aafd4;
  font-size: 13px;
  margin-bottom: 5px;
}

   /*Campos de textos*/
   
input {
  width: 100%;
  background: #0d1b2a;        /*mismo color que el fondo de la página*/
  border: 1px solid #2a3f5a;
  border-radius: 8px;
  padding: 10px 14px;
  color: #e8f4ff;
  font-size: 14px;
  margin-bottom: 1rem;
  outline: none;              /*quita el borde azul por defecto del navegador*/
}

input:focus {
  border-color: #378add;      /*borde azul cuando haces clic en el campo*/
}

   /*Botones*/

.actions {
  display: flex;              /*pone los botones en fila*/
  gap: 10px;                  /*espacio entre ellos*/
  margin-top: 0.5rem;
}

.btn-cancel {
  flex: 1;                    /*ocupa 1 parte del espacio*/
  padding: 10px;
  background: transparent;
  border: 1px solid #2a3f5a;
  border-radius: 8px;
  color: #8aafd4;
  cursor: pointer;            /*cambia el cursor a manita*/
}

.btn-confirm {
  flex: 2;                    /*ocupa el doble que cancelar*/
  padding: 10px;
  background: #185fa5;        /*azul llamativo*/
  border: none;
  border-radius: 8px;
  color: #e8f4ff;
  font-weight: 500;
  cursor: pointer;
}
